@Model VisionMVC.Models.ProductSearch
@{
}


<form>
    <p>
        <select>
        </select>
        Name: <input type="text" />
        <input type="submit" value="Filter" class="btn" />
    </p>
</form>